.chatbox {
  position: fixed;
  top: 10vh;
  left: 10vw;
  height: 25vh;
  width: 20vw;
  background-color: white;
  padding: 1rem;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}

.chatbox__outputarea {
  color: rgb(47, 47, 47);
  white-space: pre-wrap;
}

.chatoutputbox {
  position: fixed;
  top: 10vh;
  left: 60vw;
  width: 30vw;
  height: 80vh;
  background-color: white;
  padding: 1rem;
  overflow: scroll;
}
